html, body {
	font: 11pt "Arial", "Helvetica", sans-serif;
	line-height: 1.25;
	background: #fff;
	color: #000;
	min-height: 100%;
	margin: 0;
}
body {
	margin: 0 1em;
}

header {
	margin: 2em auto 0 auto;
	padding-bottom: .8em;
	border-bottom: 1px solid #aaa;
	display: flex;
	max-width: 60em;
}
header h1 {
	flex-grow: 1;
	font-size: 124%;
	font-weight: normal;
	margin: 0;
}
header a {
	line-height: 1.55;
	color: #007fff;
	text-decoration: underline;
	user-select: none;
}
header a:hover {
	color: #39f;
}
header a:active {
	color: #06c;
}
h2 {
	font-size: 112%;
	font-weight: normal;
	margin: 1.3em 0 .8em 0;
}

#content {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

iframe {
	display: none;
}

@media (min-width: 1200px) and (max-height: 1000px), (min-width: 1400px) {
	header {
		max-width: 120em;
	}
}
