html, body {
	font: 11pt "Arial", "Helvetica", sans-serif;
	line-height: 1.25;
	background: #fff;
	color: #000;
	min-height: 100%;
	margin: 0;
}
body {
	margin: 0 1em;
}

header {
	margin: .8em 0;
	display: flex;
}
header h1 {
	flex-grow: 1;
	font-size: 124%;
	font-weight: normal;
	margin: 0;
}
header a {
	line-height: 1.55;
	color: #007fff;
	text-decoration: underline;
	user-select: none;
}
header a:hover {
	color: #39f;
}
header a:active {
	color: #06c;
}
h2 {
	font-size: 112%;
	font-weight: normal;
	margin: 1.3em 0 .8em 0;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

iframe {
	display: none;
}
