<!DOCTYPE html>
<html>
	<head>
		<title>xDSL stats</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="static/style.css" />
		<link rel="stylesheet" type="text/css" href="static/dsl.css" />
		<script type="text/javascript" src="static/graphs.js"></script>
		<script type="text/javascript" src="static/script.js"></script>
	</head>
	<body>

		<header>
			<h1>xDSL stats</h1>
			<a href="download" target="download">Save</a>
		</header>

		<div id="content">

			<div id="summary"></div>

			<div id="graphs">

				<h2>Bitloading (bits):</h2>
				<p><canvas id="graph_bits"></canvas></p>

				<h2>Signal to noise ratio (dB):</h2>
				<p><canvas id="graph_snr"></canvas></p>

				<h2>Quiet line noise (dBm/Hz):</h2>
				<p><canvas id="graph_qln"></canvas></p>

				<h2>Channel characteristic (dB):</h2>
				<p><canvas id="graph_hlog"></canvas></p>

			</div>

			<div id="errors">

				<h2>Retransmissions (per 5 minutes):</h2>
				<p>
					<canvas id="graph_retransmission_ds"></canvas>
					<canvas id="graph_retransmission_us"></canvas>
				</p>

				<h2>Errors (per 5 minutes):</h2>
				<p>
					<canvas id="graph_errors_ds"></canvas>
					<canvas id="graph_errors_us"></canvas>
				</p>

				<h2>Errored seconds (per 5 minutes):</h2>
				<p>
					<canvas id="graph_errorseconds_ds"></canvas>
					<canvas id="graph_errorseconds_us"></canvas>
				</p>

			</div>

		</div>

		<div id="overlay">
			<div id="overlaycontent">

				<form id="overlay-password" action="password" method="POST">
					<label for="password">The device requests a password:</label>
					<input type="password" id="password" name="data" />
				</form>

				<form id="overlay-passphrase" action="passphrase" method="POST">
					<label for="passphrase">
						A passphrase is needed to unlock the private key
						<span id="fingerprint"></span>:
					</label>
					<input type="password" id="passphrase" name="data" />
				</form>

				<form id="overlay-encryption-passphrase" action="encryption-passphrase" method="POST">
					<label for="encryption-passphrase">An encryption passphrase is needed:</label>
					<input type="password" id="encryption-passphrase" name="data" />
				</form>

				<div id="overlay-error"></div>

				<div id="overlay-loading">Loading…</div>

			</div>
		</div>

		<iframe name="download"></iframe>

	</body>
</html>
