{{ define "content" }}
<g transform="{{ .Transform }}">
	<path fill="none" stroke-linecap="butt" stroke-width="{{ .StrokeWidthPilotTones }}" stroke="{{ .ColorPilotTones }}" d="{{ .PathPilotTones }}"/>
	<path fill="{{ .ColorUpstream }}" d="{{ .PathUpstream }}"/>
	<path fill="{{ .ColorDownstream }}" d="{{ .PathDownstream }}"/>
</g>
{{ end }}
