{{ define "content" }}
<path transform="{{ .Transform }}" fill="none" stroke-width="{{ .StrokeWidth }}" stroke-linecap="butt" {{ template "color_stroke" .ColorNeutralStroke }} d="{{ .Path }}"/>
{{ end }}
