{{ define "content" }}
<path transform="{{ .Transform }}" {{ template "color_fill" .ColorNeutralFill }} d="{{ .Path }}"/>
<g transform="{{ .TransformMinMax }}" fill="none" stroke-width="{{ .StrokeWidth }}" stroke-linecap="butt" style="isolation:isolate">
	<path {{ template "color_stroke" .ColorMinStroke }} d="{{ .PathMin }}"/>
	<path {{ template "color_stroke" .ColorMaxStroke }} style="mix-blend-mode:multiply" d="{{ .PathMax }}"/>
</g>
{{ end }}
