<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
		{{ .Style }}
		{{ .StyleDSL }}
		</style>
		<script type="text/javascript">
		{{ .Script }}
		</script>
	</head>
	<body>

		<header>
			<h1>xDSL stats</h1>
			<a id="button-disconnect" href="javascript:goDisconnect()" tabindex="0">Disconnect</a>
			<a id="button-save" href="javascript:goSave()" tabindex="0">Save</a>
		</header>

		<div id="main">

			<div id="content">

				<div id="summary"></div>

				<div id="graphs">
					{{ template "graphs" .GraphData }}
				</div>

				<div id="errors">
					{{ template "graphs_errors" .GraphData }}
				</div>

			</div>

		</div>

		<div id="overlay">
			<div id="overlaycontent">

				<form id="overlay-password" data-target="goSetPassword">
					<label for="password">The device requests a password:</label>
					<input type="password" id="password" name="data" />
				</form>

				<form id="overlay-passphrase" data-target="goSetPassphrase">
					<label for="passphrase">
						A passphrase is needed to unlock the private key
						<span id="fingerprint"></span>:
					</label>
					<input type="password" id="passphrase" name="data" />
				</form>

				<form id="overlay-encryption-passphrase" data-target="goSetEncryptionPassphrase">
					<label for="encryption-passphrase">An encryption passphrase is needed:</label>
					<input type="password" id="encryption-passphrase" name="data" />
				</form>

				<div id="overlay-error"></div>

				<div id="overlay-loading">Loading…</div>

				<div id="overlay-disconnecting">Disconnecting…</div>

				<form id="overlay-connect">
					<fieldset>
						<p>
							<label>
								<span class="title">Device type:</span>
								<select id="config-device-type"></select>
							</label>
						</p>
					</fieldset>
					<fieldset>
						<p>
							<label>
								<span class="title">Host:</span>
								<input type="text" id="config-host" autocomplete="off" spellcheck="false" />
							</label>
						</p>
						<p>
							<label>
								<span class="title">User:</span>
								<input type="text" id="config-user" autocomplete="off" spellcheck="false" />
							</label>
						</p>
					</fieldset>
					<fieldset id="config-advanced" class="collapsed">
						<legend tabindex="0">Advanced options</legend>
						<p>
							<label>
								<span class="title">Private key path:</span>
								<input type="text" id="config-private-key" autocomplete="off" spellcheck="false" />
							</label>
						</p>
						<p>
							<label>
								<span class="title">Known hosts path:</span>
								<input type="text" id="config-known-hosts" autocomplete="off" spellcheck="false" />
							</label>
						</p>
						<div id="config-options"></div>
					</fieldset>
					<fieldset>
						<p>
							<label>
								<input type="checkbox" id="config-remember" />
								<span class="title">Remember configuration</span>
							</label>
						</p>
						<p class="button">
							<input type="submit" value="Connect" />
						</p>
					</fieldset>
				</form>

			</div>
		</div>

		<div id="messages"></div>

	</body>
</html>
