html, body {
	font: 11pt "Arial", "Helvetica", sans-serif;
	line-height: 1.25;
	background: #fff;
	color: #000;
	height: 100%;
	margin: 0;
}

::selection {
	color: #fff;
	background-color: #39f;
}

body {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

header {
	grid-row: 1;
	grid-column: 1;
	z-index: 10;
	margin: 0 -2em;
	padding: 0 2em;
	display: flex;
	background: #e0e0e0;
	border-bottom: 1px solid #cacaca;
	box-shadow: 0 0 2em rgba(0,0,0,.25);
}
header h1, header a {
	line-height: 1.55rem;
	margin: 0;
	padding: .8rem 1rem;
}
header h1 {
	flex-grow: 1;
	font-size: 124%;
	font-weight: normal;
}
header a {
	color: #007fff;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
}
header a:hover, header a:focus-visible {
	background: #e8e8e8;
	color: #39f;
}
header a:active {
	background: #ccc;
	color: #06c;
}
header a.disabled {
	color: #aaa;
	background: transparent;
	cursor: default;
}

#main, #overlay, #messages {
	grid-row: 2;
	grid-column: 1;
	overflow: auto;
}

#main {
	z-index: 0;
	padding: 0 1em;
}
#overlay {
	z-index: 1;
}
#messages {
	z-index: 2;
}

#content {
	margin-top: 2em;
	margin-bottom: 2em;
}

#overlaycontent #overlay-connect {
	width: 30em;
}
#overlay-connect label, #overlay-connect span, #overlay-connect legend {
	user-select: none;
	-webkit-user-select: none;
}
#overlay-connect fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
#overlay-connect fieldset, #overlay-connect fieldset > div {
	display: grid;
	grid-gap: .5em;
}
#overlay-connect fieldset + fieldset {
	margin-top: 1em;
}
#overlay-connect fieldset:last-child {
	margin-top: 1.5em;
	grid-gap: 1em;
}
#overlay-connect fieldset legend {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0 0 1em;
	margin: 0 0 .75em 0;
	position: relative;
	cursor: pointer;
}
#overlay-connect fieldset legend::before {
	content: "";
	width: 0;
	height: 0;
	border: .3em solid transparent;
	border-top: .5em solid #aaa;
	position: absolute;
	left: 0;
	top: .4em;
}
#overlay-connect fieldset.collapsed div, #overlay-connect fieldset.collapsed p {
	display: none;
}
#overlay-connect fieldset.collapsed legend {
	margin-bottom: 0;
}
#overlay-connect fieldset.collapsed legend::before {
	border-top: .3em solid transparent;
	border-left: .5em solid #aaa;
	top: .35em;
}
#overlay-connect p {
	margin: 0;
}
#overlay-connect label, #overlay-connect p.button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 0;
}
#overlay-connect span.title {
	width: 10em;
}
#overlay-connect input, #overlay-connect select {
	width: auto;
	flex-grow: 1;
}
#overlay-connect input[type="checkbox"] + span.title,
#overlay-connect input[type="checkbox"] + span.desc {
	flex-basis: 0;
	flex-grow: 1;
}
#overlay-connect span.desc {
	color: #444;
	font-size: .9em;
	margin: .1em 0 0 10rem;
}
#overlay-connect input[type="checkbox"] + span.desc {
	margin: 0;
}
#overlay-connect .hide {
	display: none;
}

legend, select, input, header a {
	outline: none;
}
select, input[type="text"], input[type="password"], input[type="submit"] {
	appearance: none;
	color: #000;
	border: 1px solid #dadada;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
}
select:active, input[type="text"]:active, input[type="password"]:active, input[type="submit"]:active,
select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="submit"]:focus {
	margin: -1px;
	border: 2px solid #39f;
	box-shadow: 0 0 5px rgba(51,153,255,.3);
}
input[type="text"], input[type="password"] {
	background: #fff;
}
select, input[type="submit"] {
	background-color: #eee;
}
select:hover, input[type="submit"]:hover {
	background-color: #f4f4f4;
}
select:active, input[type="submit"]:active {
	background-color: #e0e0e0;
}
select {
	padding: .2em 1.6em .2em .4em;
	background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m11.5%205.5-3.5-3.5-3.5%203.5m0%205%203.5%203.5%203.5-3.5%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-size: 1em 1em;
	background-position: calc(100% - .3em) 50%;
}
option {
	background: #fff;
	color: #000;
}
input[type="checkbox"] {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	text-indent: -100000em;
}
input[type="checkbox"] + span {
	display: flex;
	flex-direction: row;
	align-items: center;
}
input[type="checkbox"] + span::before {
	content: " ";
	display: inline-block;
	flex-shrink: 0;
	font-size: .8rem;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	background-color: #fff;
	border: 2px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
	margin-right: .4rem;
}
input[type="checkbox"]:active + span::before {
	background-color: #eee;
}
input[type="checkbox"]:checked + span::before {
	background-color: #39f;
	border: none;
	background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m18%200.5-9%2011-5.5-4.5%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%223%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-size: 1em 1em;
}
input[type="checkbox"]:checked:active + span::before {
	background-image: none;
}
input[type="checkbox"] + span, legend, header a {
	position: relative;
}
input[type="checkbox"]:active + span::after, legend:active::after,
input[type="checkbox"]:focus + span::after, legend:focus::after,
header a:focus-visible::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px solid #39f;
	border-radius: 2px;
	box-shadow: 0 0 5px rgba(51,153,255,.3);
}
input[type="checkbox"]:active + span::after, legend:active::after,
input[type="checkbox"]:focus + span::after, legend:focus::after {
	margin: -2px -4px;
}

#messages {
	display: none;
}
#messages.visible {
	display: flex;
	flex-direction: column;
	pointer-events: none;
	padding: 0 2em;
}
#messages div {
	display: block;
	text-align: center;
	background: #444;
	color: #fff;
	margin: 1em auto 0 auto;
	padding: .5em 1em;
	border-radius: .5em;
	box-shadow: 0 0 2em rgba(0,0,0,.25);
}
