html, body {
	font: 11pt "Arial", "Helvetica", sans-serif;
	line-height: 1.25;
	background: #fff;
	color: #000;
	height: 100%;
	margin: 0;
}

body {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;
}

header {
	grid-row: 1;
	grid-column: 1;
	z-index: 10;
	margin: 0 -2em;
	padding: 0 2em;
	display: flex;
	background: #e0e0e0;
	border-bottom: 1px solid #cacaca;
	box-shadow: 0 0 2em rgba(0,0,0,.25);
}
header h1, header a {
	line-height: 1.55rem;
	margin: 0;
	padding: .8rem 1rem;
}
header h1 {
	flex-grow: 1;
	font-size: 124%;
	font-weight: normal;
}
header a {
	color: #007fff;
	text-decoration: none;
	user-select: none;
}
header a:hover {
	background: #e8e8e8;
	color: #39f;
}
header a:active {
	background: #ccc;
	color: #06c;
}
header a.disabled {
	color: #aaa;
	background: transparent;
	cursor: default;
}

#main, #overlay, #messages {
	grid-row: 2;
	grid-column: 1;
	overflow: auto;
}

#main {
	z-index: 0;
	padding: 0 1em;
}
#overlay {
	z-index: 1;
}
#messages {
	z-index: 2;
}

#content {
	margin-top: 2em;
	margin-bottom: 2em;
}

#overlaycontent #overlay-connect {
	width: 30em;
}
#overlay-connect fieldset {
	border: none;
	padding: 0;
	margin: 0;
}
#overlay-connect fieldset, #overlay-connect fieldset > div {
	display: grid;
	grid-gap: .5em;
}
#overlay-connect fieldset + fieldset {
	margin-top: 1em;
}
#overlay-connect fieldset:last-child {
	margin-top: 1.5em;
	grid-gap: 1em;
}
#overlay-connect fieldset legend {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0 0 1em;
	margin: 0 0 .75em 0;
	position: relative;
	cursor: pointer;
}
#overlay-connect fieldset legend::before {
	content: "";
	width: 0;
	height: 0;
	border: .3em solid transparent;
	border-top: .5em solid #aaa;
	position: absolute;
	left: 0;
	top: .4em;
}
#overlay-connect fieldset.collapsed div, #overlay-connect fieldset.collapsed p {
	display: none;
}
#overlay-connect fieldset.collapsed legend {
	margin-bottom: 0;
}
#overlay-connect fieldset.collapsed legend::before {
	border-top: .3em solid transparent;
	border-left: .5em solid #aaa;
	top: .35em;
}
#overlay-connect p {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
}
#overlay-connect label {
	width: 10em;
	margin-bottom: 0;
}
#overlay-connect input, #overlay-connect select {
	width: auto;
	flex-grow: 1;
}
#overlay-connect input[type="checkbox"] {
	flex-grow: 0;
}
#overlay-connect input[type="checkbox"] + label {
	padding-left: .5em;
	width: auto;
	flex-grow: 1;
}
#overlay-connect span {
	color: #444;
	font-size: .9em;
	margin: .1em 0 0 10rem;
}
#overlay-connect .hide {
	display: none;
}
#overlay-connect select {
	min-height: 1.7em;
}
#overlay-connect input[type="submit"] {
	appearance: button;
}

#messages {
	display: none;
}
#messages.visible {
	display: flex;
	flex-direction: column;
	pointer-events: none;
	padding: 0 2em;
}
#messages div {
	display: block;
	text-align: center;
	background: #444;
	color: #fff;
	margin: 1em auto 0 auto;
	padding: .5em 1em;
	border-radius: .5em;
	box-shadow: 0 0 2em rgba(0,0,0,.25);
}
