#content {
	max-width: 60em;
	margin: 2em auto;
}

h2 {
	font-size: 112%;
	font-weight: normal;
	margin: 1.3em 0 .8em 0;
}

#state, dl {
	max-width: 45em;
}

#state {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 1em;
	align-items: center;
	margin: 1.5em auto 1em auto;
	min-height: 3.75em;
}
#state p {
	grid-row: 1;
	text-align: center;
	margin: 0;
}
#state .connection {
	grid-column: 2;
}
#state .modem {
	grid-column: 1;
}
#state .remote {
	grid-column: 3;
}
#state span {
	font-size: .8em;
	border-bottom: 1px solid #d7d7d7;
}

dl {
	margin: 1em auto;
}
dl div {
	display: flex;
	align-items: center;
	background: #ebebeb;
	border-bottom: 1px solid #d7d7d7;
	font-size: 10.5pt;
}
dl div:first-child {
	border-top: 1px solid #d7d7d7;
}
dl div:nth-child(2n) {
	background: #f8f8f8;
}
dt, dd {
	margin: .3em .5em;
}
dt {
	width: 15em;
}
dd {
	display: flex;
	flex: 1;
	min-width: 9.5em;
}
dd .value {
	flex-grow: 1;
	text-align: right;
}
dd .unit {
	width: 4.5em;
	margin-left: .3em;
}
dt::after {
	content: ":";
}

#graphs {
	margin: 1.5em 0;
}
#graphs h2 {
	margin: .8em 0 0 0;
}
#graphs p {
	margin-top: .5em;
}

#overlay {
	display: none;
	background: rgba(200,200,200,.9);
}
#overlay.visible {
	display: grid;
	align-items: center;
	justify-content: center;
}
#overlaycontent {
	background: #fff;
	padding: 1em;
	max-width: 20em;
	box-shadow: 0 0 2em rgba(0,0,0,.25);
}
#overlaycontent > * {
	display: none;
}
#overlaycontent > .visible {
	display: block;
}
form {
	width: 20em;
}
label {
	display: block;
	margin: 0 0 .5em 0;
}
input {
	box-sizing: border-box;
	width: 100%;
}

@media (max-width: 500px) {
	#state {
		grid-template-columns: 1fr 1fr;
	}
	#state .connection {
		grid-column: 1 / 3;
	}
	#state .modem,
	#state .remote {
		grid-row: 2;
	}
	#state .modem {
		grid-column: 1;
	}
	#state .remote {
		grid-column: 2;
	}

	dl div {
		flex-wrap: wrap;
		justify-content: end;
		padding: .3em 0;
	}
	dt {
		font-weight: bold;
		width: 100%;
		margin: .2em .5em;
	}
	dd {
		max-width: 10.5em;
	}
}
